@page
@model WeatherIsFun.IndexModel
@{
   <!--This is where Manal designs the page-->

<html>
<head>
    <meta name="weather" content="" />
    <title> Weather Status </title>
    <link href="~/Content/StyleSheet.css" rel="stylesheet" type="text/css" />
    <script src="~/d3/d3.min.js"></script>
    <script src="~/client.js"></script>

</head>
<body>
    <div id="header">
        <h1> WEATHER STATUS</h1>
    </div>

    <div id="content">
        <label> Location: </label>
        <input type="text" id="addressTextbox" />
        <br />
        <button id="getWeatherButton" type="button">Submit</button>
        <br />
        <br />
        <h3>Weather for: <label id="weatherLocation"></label></h3>
        <svg width="1000" height="500"/>
    </div>
</body>

</html>
}
